.main {
    padding-top: 40px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;

    @media (min-width: 768px) {
        padding: 0;
    }
}

.imagesInner {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.imageContainer {
    overflow: hidden;
    width: 100%;
    cursor: pointer;

    @media (width >= 768px) {
        width: 25%;
    }
}

.imageContainer:first-child {
    @media (min-width: 768px) {
        margin-left: 50%;
    }
}

.content {
    position: relative;
    padding: 60px 20px;
    bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (width >= 576px) {
        width: 50%;
        padding: 60px 48px;
    }
}

.title {
    margin: 0 0 16px 0;
    font-size: 32px;

    @media (width >= 768px) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

.sectionSubtitle {
    max-width: 440px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;

    @media (width >= 768px) {
        font-size: 18px;
    }
}

.imageContainer-black-girl-smile {
    @media (min-width: 768px) {
        display: none;
    }
}

.imageContainer-black-greece {
    @media (min-width: 768px) {
        display: none;
    }
}

.imageContainer-black-girl-cat {
    @media (min-width: 768px) {
        display: none;
    }
}

.image {
    object-fit: cover;
    width: 100%;
    display: block;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;

    @media (min-width: 768px) {
        &:hover {
            transform: scale(1.2);
        }
    }
}

.section {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    & + & {
        margin-top: 40px;
    }

    @media (min-width: 768px) {
        & + & {
            margin-top: 0;
        }
    }
}


.sectionTitleContainer {
    margin-bottom: 32px;

    @media (min-width: 768px) {
        left: 0;
        margin-bottom: 0;
        position: absolute;
        aspect-ratio: 864 / 573;
        z-index: 2;
        width: 50%;
        max-width: 960px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.sectionTitleContent {
    @media (width >= 768px) {
        max-width: 100%;
        margin: 0 auto;
        width: 520px;
    }
}

.sectionTitle {
    font-size: 24px;
    width: fit-content;
    margin: 0 0 16px 0;

    @media (width >= 768px) {
        font-size: 32px;
    }
}

