.main {
    padding-top: 40px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;

    @media (min-width: 768px) {
        padding-top: 120px;
    }
}

.titleContainer {
    margin-bottom: 40px;
    padding: 0 20px;

    @media (min-width: 768px) {
        text-align: center;
        margin: 0 auto 120px;
    }
}

.imagesInner {
    @media (min-width: 768px) {
        display: flex;
        gap: 4px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.imageContainer {
    overflow: hidden;
    width: 90%;

    @media (width >= 768px) {
        width: calc(25% - 3px);
    }
}

.content {
    position: relative;
    padding: 60px 20px;
    bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (width >= 576px) {
        width: 50%;
        padding: 60px 48px;
    }
}

.title {
    margin: 0 0 16px 0;
    font-size: 32px;

    @media (width >= 768px) {
        font-size: 36px;
    }
}

.text {
    max-width: 440px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 1.4;
    margin: 0;

    @media (min-width: 768px) {
        margin: 0 auto;
    }
}

.image {
    object-fit: cover;
    width: 100%;
    display: block;
    transition: transform 0.6s ease-in-out;

    @media (min-width: 768px) {
        &:hover {
            transform: scale(1.2);
        }
    }
}

.section {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 12px;

    & + & {
        margin-top: 40px;
    }

    @media (min-width: 768px) {
        & + & {
            margin-top: 80px;
        }
    }
}

.sectionTitle {
    font-size: 24px;
    background-color: #000;
    padding: 0 12px 4px 12px;
    width: fit-content;
    margin: 0 0 24px 0;

    &.blackAndWhite {
        background-color: #000;
        color: #fff;
    }

    &.colored {
        background: linear-gradient(45deg, #ff0055, #ff8800, #ff0088);
        background-size: 300% 300%;
        color: #fff;
    }

    @media (min-width: 768px) {
        margin: 0 auto 24px auto;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}